@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
body {
  margin: 0;
  background-color: #ddd;
  user-select: none;
}
.App {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  color: #EEE;
}
h1{
  background-color: rgb(20, 20, 20);

  margin: 0;
  margin-bottom: 5vh;
  padding: 1.5rem;
  width: 100%;
  font-family: 'Emilys Candy', cursive;
  font-size: 3em;
  border-bottom:rgb(255, 106, 136) .3rem solid;
}
/* "Feliz" do h1*/
h1 span {
  color: rgb(255, 153, 246);
}
form {
  background-color:rgb(106, 176, 240);

  width: 50rem;
  padding: 1rem 0 2rem 0;
  margin: 2vh auto;
  border-radius: 5px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}
input {
  background-color: #eee;
  width: 6rem;
  height: 1.2rem;
  margin-right: .8rem;
  margin-left: .3rem;

  border: 0px;
  border-radius: 5px;

  font-size: 1.2em;
}
.campo-busca {
  width: 8rem;
  margin-left: 4rem;
  text-align: right;
}
.campo-preco {
  width: 5rem;
}
form span {
  margin: .3rem .3rem 0 .3rem;
  cursor: pointer;
}
form span:hover {
  color: rgb(182, 136, 255);
}
.list {
  background-color:rgb(246, 156, 226);
  color: black;

  margin: -4.5vh auto 4.5vh auto;
  padding-bottom: 1.9vh;
  width: 50rem;
  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product {
  background-color: rgb(110, 156, 208);
  border-radius: 1rem;
  
  flex: 0 0 auto;
  width: 13rem;
  padding: .2rem;
  margin: .2rem;
  margin-top: 2vh;
}
.product-info {
  text-transform:uppercase;
  margin: 0.5rem;
}
.edit-button, .delete-button {
  padding: .1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: .3rem;
  margin-top: 1rem;
  color: black;
}
.delete-button {
  background-color:rgb(255, 106, 136);
}
.delete-button:hover {
  background-color:  rgb(241, 94, 209); 
}
.edit-button {
  background-color: rgb(166, 255, 239);
}
.edit-button:hover {
  background-color: rgb(107, 193, 216);
}

.message {
  background-color: rgb(36, 36, 36);
  vertical-align: center;
  margin: 0 auto;
  width: 50rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor:pointer;
}
.message:hover {
  color: rgb(182, 136, 255);
}